In [1]:
import openmeteo_requests
import requests_cache, pandas as pd
from retry_requests import retry
import requests
from call_for_data import make_master_dataframe

In [2]:
from call_test import latitude
# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = -1)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
open_meteo = openmeteo_requests.Client(session = retry_session)
gps = (38.29088, -72.61076)
latitude = gps[0]
longitude = gps[1]
start_date = "1988-06-23"
end_date ="1988-06-24"

<openmeteo_sdk.WeatherApiResponse.WeatherApiResponse object at 0x72d65776bcd0>

In [3]:
url = "https://archive-api.open-meteo.com/v1/archive"
params = {
		"latitude": latitude,
		"longitude": longitude,
		"start_date": start_date,
		"end_date": end_date,
		"hourly": ["temperature_2m", "precipitation", "cloud_cover", "wind_speed_100m"],
		"timezone": "auto",
        "temperature_unit": "fahrenheit"
	}
responses = open_meteo.weather_api(url, params=params)

In [4]:
responses[0]

In [5]:
call = requests.get(url=url)

In [6]:
type(call.status_code)

int

In [7]:
# if requests.get("https://archive-api.open-meteo.com/v1/archive") = 200:
call.status_code

200

In [8]:
test_frame = make_master_dataframe(gps, 6, 23)

In [9]:
type(test_frame)

pandas.core.frame.DataFrame

In [10]:
if type(test_frame) == pd.DataFrame:
    x="tru"
else:
    x="fals"

In [11]:
x

'tru'

In [13]:
test_frame

,date,temperature_2m,precipitation,cloud_cover,wind_speed_100m
0,2025-06-16 05:00:00,66.470001,0.0,100.0,24.365910
1,2025-06-16 06:00:00,66.650002,0.0,100.0,23.623928
2,2025-06-16 07:00:00,66.739998,0.0,100.0,24.007572
3,2025-06-16 08:00:00,66.739998,0.1,100.0,21.042301
4,2025-06-16 09:00:00,66.830002,1.0,100.0,24.449539
...,...,...,...,...,...
355,1981-07-01 00:00:00,73.489998,0.0,100.0,50.659046
356,1981-07-01 01:00:00,73.400002,0.0,86.0,49.916828
357,1981-07-01 02:00:00,73.400002,0.0,74.0,49.426308
358,1981-07-01 03:00:00,73.309998,0.0,86.0,47.798725
359,1981-07-01 04:00:00,73.220001,0.0,95.0,46.445580